In [11]:
%load_ext autoreload
%autoreload 2

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import sys

In [5]:
import importlib.util

file_path_labeling = os.path.abspath("../scripts/labeling.py")
file_path_preprocessing = os.path.abspath("../scripts/prepocessing.py")
file_path_telegram_scrapper = os.path.abspath("../scripts/telegram_scrapper.py")

spec = importlib.util.spec_from_file_location("labeling", file_path_labeling)
labeling = importlib.util.module_from_spec(spec)
spec.loader.exec_module(labeling)

spec = importlib.util.spec_from_file_location("labeling", file_path_preprocessing)
preprocessing = importlib.util.module_from_spec(spec)
spec.loader.exec_module(preprocessing)

In [10]:
df = pd.read_excel('..\\data\\telegram_data.xlsx')
df.head()

,Channel Title,Channel Username,ID,Message,Date,Media Path
0,Sheger online-store,@Shageronlinestore,5333,NaN,2024-09-20 11:50:03+00:00,photos/@Shageronlinestore_5333.jpg
1,Sheger online-store,@Shageronlinestore,5332,NaN,2024-09-20 11:50:03+00:00,photos/@Shageronlinestore_5332.jpg
2,Sheger online-store,@Shageronlinestore,5331,NaN,2024-09-20 11:50:03+00:00,photos/@Shageronlinestore_5331.jpg
3,Sheger online-store,@Shageronlinestore,5330,NaN,2024-09-20 11:50:02+00:00,photos/@Shageronlinestore_5330.jpg
4,Sheger online-store,@Shageronlinestore,5329,NaN,2024-09-20 11:50:02+00:00,photos/@Shageronlinestore_5329.jpg

In [11]:
df.columns

Index(['Channel Title', 'Channel Username', 'ID', 'Message', 'Date',
       'Media Path'],
      dtype='object')

In [14]:
df.dtypes

Channel Title       object
Channel Username    object
ID                   int64
Message             object
Date                object
Media Path          object
dtype: object

In [ ]:
# Data Quality Checks
preprocessing.check_missing_values(df)

                  Missing Values  % of Total Values Data Types
Message                     1849              36.87     object
Media Path                  1221              24.35     object
Channel Title                  0               0.00     object
Channel Username               0               0.00     object
ID                             0               0.00      int64
Date                           0               0.00     object

In [ ]:
# Mssing Percentage
preprocessing.caculate_missing_percentage(df)

The dataset has 10.2% missing values.

In [17]:
df = df.dropna(subset=['Message'])

In [18]:
df['Message'].isna().sum()

np.int64(0)

In [19]:
df['Message'].isnull().sum()

np.int64(0)

In [20]:
print(f'data shape: {df.shape} ')

data shape: (3166, 6)

In [22]:
df['Message'] = df['Message'].apply(preprocessing.remove_emojis).apply(preprocessing.remove_english_words)

C:\Users\hp\AppData\Local\Temp\ipykernel_456\621385295.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Message'] = df['Message'].apply(preprocessing.remove_emojis).apply(preprocessing.remove_english_words)

In [23]:
df['Message'].head()

5     3pcs   \n\nእስከ 260° ሙቀት መቆቆም የሚችል\n      \n   ...
6      \n\n ጊዜ ቆጣቢ ስላይስ ማድረጊያ \n  ለእጅ ሴፍቲ ተመራጭ\n  ለድ...
7         \n          \n\n  ,  ,   - .\n\n          ...
8         \n          \n\n  ,  ,   - .\n\n          ...
10      3in1    ,, \n\n        ዋጋ:-3000ብር\n\nውስን ፍሬ ...
Name: Message, dtype: object

In [24]:
# save the updated data to csv file 
df.to_csv('../data/cleaned_data.csv')